<div class="row ">
	<div class="col-md-15 col-xs-15 gray roundedcorners  colorpiece">&nbsp;</div>
	<div class="col-md-15 col-xs-15 gray roundedcorners  colorpiece">&nbsp;</div>
	<div class="col-md-15 col-xs-15 yellow roundedcorners  colorpiece">&nbsp;</div>
	<div class="col-md-15 col-xs-15 gray roundedcorners  colorpiece">&nbsp;</div>
	<div class="col-md-15 col-xs-15 gray roundedcorners  colorpiece">&nbsp;</div>
</div>