// Place all the styles related to the forecast controller here. 
// They will automatically be included in application.css. 
// You can use Sass (SCSS) here:http://sass-lang.com/ 
@import "variables"; 
body,html
{   
	width: 100%;  
	height:100%; 
	padding-top: 10px; 
	padding-bottom: 10px; 
} 
.header{    	
	padding: 0 10px 0 10px;
	.header_font{
		font-size: 15px;
		color:white;
	}
}
















.font1{   
	color: white;
	font-size: 15px; 
} 
.font2{   
	color: white;   
	font-size: 10px; }
	.kuang_head1{
		padding-top: 8px; 
		padding-bottom: 8px;
	}

	.touming{
		background: rgba(0,0,0,0.15);
		padding:9px;
	}
	.pic1{
		width: 100%;
	}
	.juzhong{
		text-align: center;

	}
	.sousuo{
		margin-left: -10px;
		color: white;
	}
	.sekuai{
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.white{
		color:white;
	}
	.yellow{

		background-color: #fff100;
	}
	.blue{

		background-color: #00a0e9;
	}
	.green{
		background-color: #32b16c;
	}
	.orange{
		background-color: orange;
	}
	.red{
		background-color: red;
	}
	.gray{
		background-color: rgb(126,154,193);
	}
	.toumingse{

		background-color: rgba(0,0,0,0);

	}

	.padding1{padding-left:30px; }
	.gezi{
		width: 100%;
	}
	.yuanjiao{
		border-radius:5px;

	}

	.padding2{padding-bottom: 5px;
		padding-top: 5px;}
		.margin1{
			margin-top: -20px;
		}