// Place all the styles related to the forecast controller here. 
// They will automatically be included in application.css. 
// You can use Sass (SCSS) here:http://sass-lang.com/ 
body,html
{   
	width: 100%;  
	height:100%; 
	padding-top: 10px; 
	padding-bottom: 10px; 
} 
.header{    	
	padding: 0 10px 0 10px;
	.header_font{
		font-size: 15px;
		color:white;
	}
}
.intervals{
		padding:5px;
	.transparent{
		background: rgba(0,0,0,0.15);
		.transparent_pad1{
		padding: 10px 0 0 5px;
		}
		.transparent_pad2{
		padding-top: 15px;
		}
	.transparentcolor{
     		background: rgba(0,0,0,0.0);
	}
}
}
.white{
	color:white;
}
.pic_width{
	width: 100%;
	}
.center{
	text-align: center;
}
.icon_search{
	color: white;
	font-size:8px;
	margin-left: -15px;
	margin-top: 10px;
}
.yellow{

	background-color: #fff100;
}
.blue{
	background-color: #00a0e9;
}
.green{
	background-color: #32b16c;
}
.orange{
	background-color: orange;
}
.red{
	background-color: red;
}
.gray{
	background-color: rgb(126,154,193);
}
.roundedcorners{
	border-radius:4px;
}
.colorpiece{
	text-align: center;
	font-size: 10px;
}
.colorpiece_pad{
	padding: 2px 0 2px 0;
}
.colorpiece_1{
	text-align: center;
	font-size: 13px;
}
.footer_padding{
	padding:5px;
}
.row_pad1{
	padding:10px 0 2px 0;
}
.row_pad2{
	padding: 2px 0 10px 0;
}
.feature_marpad{
	margin-top: 75px;
}
.feature_marpad1{
	margin-top: 10px;
}
.collrpad{
	margin: 0 1px 0 1px;
	line-height: 18px;
}
.feature_pad1{
	padding-top: 10px;
}
.feature_pad2{
	padding: 0 10px 10px 10px;
}
.featurefont{
	font-size: 16px;
}