// Place all the styles related to the Weatherrisk controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.white{
	color:white;
}
.colorpiece_2{
	text-align: center;
	font-size: 12px;
}
.longfont{
	font-size: 14px;
}
.divider{
	margin:5px; 
	border-color: rgba(140,149,177,0.2);
}
.longmarbotm{
	padding-bottom: 50px;
}
.feature_pad3{
	margin:10px 0 0 10px;
}
.feature_pad4{
	padding:0 10px 0 10px;
}
.feature_pad5{
	padding-top: 10px;
}
.feature_pad6{
	padding:0 10px 0 10px;
	padding-bottom: 30px;
}
.collrpad1{
	margin:0 1px 0 1px;
}
.linespace{
	letter-spacing:2px;
	line-height: 120%;
}
